<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Adicionar Paciente - Mindly</title>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700;900&display=swap" rel="stylesheet" />
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/image/favicon-32x32.png}">
    <link rel="icon" type="image/png" sizes="18x18" th:href="@{/image/favicon-180x180.png}">

    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
    <div th:replace="~{fragmentos/navbar :: navbar}"></div>

    <main class="main-content">
        <div class="form-container">
            <div class="form-header">
                <h2 class="form-header__title">Adicionar Paciente</h2>
            </div>
            <div th:if="${errorMessage}" class="form-alert">
                <span th:text="${errorMessage}" style="color:red; font-weight:bold;"></span>
            </div>

            <form th:action="@{/pacientes/adicionar}" th:object="${pacienteRequestDTO}" method="post" class="form-main">
                <div class="form-group">
                    <label for="nome" class="form-group__label">Nome</label>
                    <input type="text" th:field="*{nome}" id="nome" placeholder="Nome completo" required
                        class="form-input" />
                    <span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"
                        class="form-group__error-message"></span>
                </div>
                <div class="form-group">
                    <label for="email" class="form-group__label">Email</label>
                    <input type="email" th:field="*{email}" id="email" placeholder="E-mail" required
                        class="form-input" />
                    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                        class="form-group__error-message"></span>
                </div>
                <div class="form-group">
                    <label for="telefone" class="form-group__label">Telefone</label>
                    <input type="text" th:field="*{telefone}" id="telefone" placeholder="Telefone" required
                        class="form-input" />
                    <span th:if="${#fields.hasErrors('telefone')}" th:errors="*{telefone}"
                        class="form-group__error-message"></span>
                </div>
                <div class="form-group">
                    <label for="endereco" class="form-group__label">Endereço</label>
                    <input type="text" th:field="*{endereco}" id="endereco" placeholder="Endereço" required
                        class="form-input" />
                    <span th:if="${#fields.hasErrors('endereco')}" th:errors="*{endereco}"
                        class="form-group__error-message"></span>
                </div>
                <div class="form-group">
                    <label for="dataNascimento" class="form-group__label">Data de Nascimento</label>
                    <input type="text" th:field="*{dataNascimento}" id="dataNascimento" placeholder="DD/MM/AAAA"
                        required class="form-input" />
                    <span th:if="${#fields.hasErrors('dataNascimento')}" th:errors="*{dataNascimento}"
                        class="form-group__error-message"></span>
                </div>
                <div class="form-group">
                    <label for="cpf" class="form-group__label">CPF</label>
                    <input type="text" th:field="*{cpf}" id="cpf" placeholder="CPF" required class="form-input" />
                    <span th:if="${#fields.hasErrors('cpf')}" th:errors="*{cpf}"
                        class="form-group__error-message"></span>
                </div>
                <div class="form-group">
                    <label for="planoSaude" class="form-group__label">Plano de Saúde</label>
                    <input type="text" th:field="*{planoSaude}" id="planoSaude" placeholder="Plano de saúde" required
                        class="form-input" />
                    <span th:if="${#fields.hasErrors('planoSaude')}" th:errors="*{planoSaude}"
                        class="form-group__error-message"></span>
                </div>
                <div class="form-actions">
                    <button type="submit" class="button button--primary">
                        <span class="truncate">Adicionar</span>
                    </button>
                </div>
            </form>
            <a th:href="@{/pacientes}" class="form-link-back">Voltar à lista</a>
        </div>
    </main>

    <div th:replace="~{fragmentos/footer :: footer}"></div>

    <script th:src="@{/js/form-masks.js}"></script>
</body>

</html>