<header th:fragment="navbar"
    class="flex items-center justify-between whitespace-nowrap border-b border-solid border-b-[#e7edf4] px-10 py-3"
    style="background: #d8d5ca; font-family: 'Rubik', sans-serif;">

    <div class="flex items-center gap-3" style="color: #545454; align-items: center;">
        <img th:src="@{/image/logo_mindly.png}" alt="Mindly Logo" style="width: 40px; height: auto;" />

        <a th:href="@{/home}" style="text-decoration: none; display: flex; align-items: center;">
            <h2 class="text-lg font-bold leading-tight tracking-[-0.015em]"
                style="color: #545454; font-family: 'Rubik', sans-serif; margin: 0;">
                Mindly
            </h2>
        </a>
    </div>

    <div class="flex flex-1 justify-end gap-8">
        <a class="text-sm font-medium leading-normal" th:href="@{/home}"
            style="color: #545454; font-family: 'Rubik', sans-serif;">Home</a>
        <a class="text-sm font-medium leading-normal" th:href="@{/pacientes}"
            style="color: #545454; font-family: 'Rubik', sans-serif;">Pacientes</a>
        <a class="text-sm font-medium leading-normal" th:href="@{/consultas}"
            style="color: #545454; font-family: 'Rubik', sans-serif;">Consultas</a>
    </div>
</header>