<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Página Não Encontrada (404)</title>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="" />
    <link rel="stylesheet" as="style" onload="this.rel='stylesheet'"
        href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;700;900&display=swap" />
    <link rel="stylesheet" th:href="@{/css/error-pages.css}">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/image/favicon-32x32.png}">
    <link rel="icon" type="image/png" sizes="18x18" th:href="@{/image/favicon-180x180.png}">
</head>

<body>
    <div class="error-container">
        <div class="error-code error-code--404">404</div>
        <h1 class="error-title">Página Não Encontrada</h1>
        <p class="error-message" th:text="${errorMessage}">
            Parece que o recurso que você está procurando não existe.
        </p>
        <p class="error-message">
            A URL solicitada (<strong th:text="${requestUri}">/caminho/do/erro</strong>) não foi encontrada.
        </p>

        <a th:href="@{/home}" class="error-back-link">Voltar para a Página Inicial</a>
    </div>
</body>

</html>