<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Login - Mindly</title>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="" />
    <link rel="stylesheet" as="style" onload="this.rel='stylesheet'"
        href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700;900&display=swap" />

    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>

<body>
    <div class="login-container">
        <div class="brand">
            <span class="brand-title">Mindly</span>
            <img th:src="@{/image/logo_mindly.png}" alt="Mindly Logo" class="brand-img" />
        </div>
        <h1>Login</h1>

        <div th:if="${erro}" th:text="${erro}" class="error-message"></div>

        <form th:action="@{/home}" th:object="${loginDTO}" method="post" autocomplete="off">
            <label for="email">E-mail</label>
            <input type="text" id="email" th:field="*{email}" placeholder="Digite seu e-mail" required />

            <label for="senha">Senha</label>
            <input type="password" id="senha" th:field="*{senha}" placeholder="Digite sua senha" required />

            <button type="submit">Entrar</button>
        </form>
        <div th:if="${erro}" style="color:red;">
            <p th:text="${erro}"></p>
        </div>
    </div>
</body>

</html>