<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Login - Mindly</title>
</head>

<body>
    <h1>Mindly - Login</h1>

    <div th:if="${erro}" th:text="${erro}" style="color: red;"></div>

    <form th:action="@{/home}" th:object="${loginDTO}" method="post">
        <label for="email">Email:</label>
        <input type="text" id="email" th:field="*{email}" placeholder="Digite seu email" required />

        <label for="senha">Senha:</label>
        <input type="password" id="senha" th:field="*{senha}" placeholder="Digite sua senha" required />

        <button type="submit">Entrar</button>
    </form>
</body>

</html>
